.post_settings {
  margin-top: 1.2rem;
  background-color: white;
  -webkit-box-shadow: 0 0 2px rgba(128, 128, 128, 0.63);
          box-shadow: 0 0 2px rgba(128, 128, 128, 0.63);
  border-radius: 10px;
}

.post_settings .post_settings_content .post_settins_header {
  padding: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post_settings .post_settings_content .post_settins_header h3 {
  margin: 0;
}

.post_settings .post_settings_content .post_settins_header .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post_settings .post_settings_content .post_settins_header .filters p {
  margin: 0;
}

.post_settings .post_settings_content .post_settins_header .filters ._f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  background-color: #e0e0e0;
  margin: 0 0.3rem;
  border-radius: 6px;
  font-weight: 500;
  color: #414141;
  cursor: pointer;
}

.post_settings .post_settings_content .post_settins_header .filters ._f:hover {
  border-radius: 6px;
  background-color: lightgray;
}

.post_settings .post_settings_content .post_settins_header .filters ._f img {
  margin: 0 0.3rem;
  width: 17px;
  height: 17px;
}

.post_settings .post_settings_content ._l_b {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.post_settings .post_settings_content .list_type {
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.post_settings .post_settings_content .list_type .list_view,
.post_settings .post_settings_content .list_type .grid_view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 0.4rem;
  cursor: pointer;
}

.post_settings .post_settings_content .list_type .list_view img,
.post_settings .post_settings_content .list_type .grid_view img {
  margin-right: 0.3rem;
  width: 16px;
  height: 16px;
}

.post_settings .post_settings_content .list_type .list_view:hover,
.post_settings .post_settings_content .list_type .grid_view:hover {
  background-color: #f1efef;
}

.post_settings .post_settings_content .list_type .list_view p,
.post_settings .post_settings_content .list_type .grid_view p {
  font-weight: 500;
  margin: 0;
}

.post_settings .post_settings_content .list_type ._a {
  border-bottom: 2px solid blue;
  color: blue;
}

.post_settings .post_settings_content .list_type ._a:hover {
  background-color: white;
}

.post_settings .post_settings_content .list_type ._a ._i {
  border-radius: 6px;
}

.post_settings .post_settings_content .list_type ._a ._i:hover {
  color: #474747;
}
/*# sourceMappingURL=postSettings.css.map */