.login{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // --facebook_color:#1877f2;
    --facebook_color:rgb(219, 51, 51);
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    &::before{
        content:'';
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(209, 209, 255, 0.288);
    }
}

.left_page{
    position: relative;
    top: 0;
    left: 0;
    width: 47%;
    text-align: center;
    h1{
        margin-top:40%;
        font-size: 58px;
        font-weight: 700;
        color:var(--facebook_color);
    }
    .tagline{
        font-size: 27px;
    }
}

.right_page{
    position: relative; 
    top:0;
    right: 0;
    width: 47%;
    .form_holder{
        padding: 0.75rem;
        border-radius: 6px;
        background-color: white;
        box-shadow: 0 0 6px rgba(128, 128, 128, 0.63);
        width: 87%;
        max-width: 396px;
        margin-left: auto;
        margin-right: auto;
        margin-top:30%;
        form{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            
            input{
                margin: 0.6rem 0;
            }
            .username_input{
                position: relative;
                z-index: 0;
                top:0;
                input[type="text"]{ 
                    outline: none;
                    font-size: 17px;
                    border: none;
                    border:1px solid rgba(128, 128, 128, 0.479);
                    border-radius: 6px;
                    display: inline-block;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0.75rem;
                
                &:focus{
                    border:1px solid var(--facebook_color);
                    outline: none;
                    box-shadow: 0 0 3px #9ecaed;
                    }
                }
                .error_flag{
                    position: absolute;
                    top: 50%;
                    right: 15px;
                    transform: translateY(-50%);
                    display: none;
                }
            }
            .error_message{
                display: none;
                p{
                    font-size: 12px ;
                    color:red;
                  
                    span{
                        font-weight: 600;
                        cursor: pointer;
                    }
                }
            }
            input[type="password"]{
                outline: none;
                font-size: 17px;
                border: none;
                border:1px solid rgba(128, 128, 128, 0.411);
                border-radius: 6px;
                display: inline-block;
                width: 100%;
                box-sizing: border-box;
                padding: 0.75rem;
                &:focus{
                    border:1px solid var(--facebook_color);
                    outline: none;
                    box-shadow: 0 0 3px #9ecaed;
                }
            }
         .submit{
            width: 100%;
            text-align: center;
            input[type="submit"]{
                @extend input[type="password"];
                width: 96%;
                border: none;
                background-color: var(--facebook_color);
                transition: 0.3s background-color ;
                color: white;
                font-size: 20px;
                cursor: pointer;
                &:hover{  
                    background-color: #166fe5 ;
                }
            }
         }
        }


      .forget_holder{
          text-align: center;
        a{  
            text-decoration: none;
            color: var(--facebook_color);
            font-size: 14px;
            &:hover{
            text-decoration: underline;
            }
          
        }
      }
        .line_breaker{
            width: 90%;
            height: 1px;
            background-color: rgba(128, 128, 128, 0.507);
            margin: 1.5rem auto;
        }
        .create{
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 6px;
            text-align: center;
            background-color: #42b72a;
           
            font-weight: bold;
            color: white;
            &:hover{
                background-color: #36a420;
                cursor: pointer
            }
            p{   
                
                font-size: 17px;
                padding: 0.75rem;
                color: white;
            }
        }
    }
}


.dc{
    display: inline !important;
}
.hold_scroll{
    overflow: hidden;
    height: 100%;
}

.f_languages{
    margin: 1rem auto 0 auto;
    width: 80%;
    .f_bat,
    .s_bat,
    .t_bat{
        display: inline;
    }
    .links{
        margin: 0 0.5rem;
        font-size: 12px;
        color: gray;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    &::after{
        content:'';
        display: block;
        width: 100%;
        height: 1px;
        background-color: gray;
        margin : 1rem 0;
    }
}


.f_menu{
    width: 80%;
    margin: 0 auto;
    .menu_l{
        font-size: 12px;
        text-decoration: none;
        color:gray;
        margin: 0 0.5rem;
        &:hover{
            text-decoration: underline;
        }
    }
}
.copyright{
    margin-top: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    color: gray;
}

@media screen and (max-width:930px){
    .login{
        min-height: 60vh !important;
        display: block;
        .left_page{
            h1{
                margin: 0;
            }
        }
        .left_page,
        .right_page{
            margin: 0 auto;
            .form_holder{
                margin-top: 10%;
            }
        }
        &::before{
            background-color: white;
        }
    }
}

@media screen and (max-width: 860px){
    .login{
        .right_page{
            width: 80%;
        }
        p{
            font-size: 12px;
        }
    }
    .f_menu{
        display: none;
    }
    .f_languages{
        display: flex;
        justify-content: space-evenly;
        .f_bat,
        .s_bat{
           .links{
               display: block;
               
           }

        }
        .t_bat{
            display: none;
        }
        &::after{
            display: none;
        }
    }
    .copyright{
        text-align: center;
    }
}

@media screen and (max-width: 530px){
    .login{ 
          .left_page{
              h1{
                  margin-top: 2rem;
                  font-size: 30px;
              }
              p{             
                display: none;  
              }
          }
        .right_page{
            width: 100%;
            .form_holder{
                box-shadow: none;
                
            }
        }
    }
    
}

@media screen and (max-width : 440px){
    .login{
        width: 100%;
        height: 70vh !important;
        .left_page{
            width: 100%;
            h1{
                font-size: 23px;
            }
        }
        .right_page{
            margin-top: 10%;
            .form_holder{
                width: 100%;
                margin: 0 auto;
                form{
                    #username,
                    #password{
                        margin: 0.3rem 0;
                        font-size: 15px;
                    }
                }

            }
        }
    }
}

@media screen and (max-width : 340px){
    .right_page{
        .form_holder{
           .forget_holder{
            .a{
                margin-top:0.75rem;
            }
           }
           
            .create{
                width: 50%;
                p{
                font-size: 12px;
                
            }
            }
        }
    }
    
}

@media screen and (orientation : landscape ) and (max-width: 930px){
    .login{
        width: 100%;
       
        .left_page{
            h1{
                margin-top: 1rem;
                font-size: 25px;
            }
            p{
                display: none;
            }
        }
      
        .right_page{
            width: 100%;
            .form_holder{
                margin: 1rem auto 0 auto;
                box-shadow: none;
                form{
                    width: 100%;
                    #username,
                    #password{
                        
                        margin:0.2rem 0;
                    }
                    input[type="text"],
                    input[type="password"] {
                        
                        background-color: rgba(204, 199, 199, 0.295);
                        font-size: 14px;
                    }
                    input[type="submit"]{
                        background-color: var(--facebook_color)!important;
                    }
                }
                .line_breaker{
                    margin:0.5rem 0;
                }
                .a{
                    font-size: 12px;
                }
                .create{
                    width: 45%;
                    p{
                        padding: 0.5rem 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .f_languages{
        display: flex;
        justify-content: space-evenly;
        .f_bat,
        .s_bat{
           .links{
               display: block;
               
           }

        }
        .t_bat{
            display: none;
        }
        &::after{
            display: none;
        }
    }
    .menu_l{
        display: none;
    }
    .copyright{
        text-align: center;
    }
}