.login {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --facebook_color:rgb(219, 51, 51);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 980px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.login::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(209, 209, 255, 0.288);
}

.left_page {
  position: relative;
  top: 0;
  left: 0;
  width: 47%;
  text-align: center;
}

.left_page h1 {
  margin-top: 40%;
  font-size: 58px;
  font-weight: 700;
  color: var(--facebook_color);
}

.left_page .tagline {
  font-size: 27px;
}

.right_page {
  position: relative;
  top: 0;
  right: 0;
  width: 47%;
}

.right_page .form_holder {
  padding: 0.75rem;
  border-radius: 6px;
  background-color: white;
  -webkit-box-shadow: 0 0 6px rgba(128, 128, 128, 0.63);
          box-shadow: 0 0 6px rgba(128, 128, 128, 0.63);
  width: 87%;
  max-width: 396px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

.right_page .form_holder form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.right_page .form_holder form input {
  margin: 0.6rem 0;
}

.right_page .form_holder form .username_input {
  position: relative;
  z-index: 0;
  top: 0;
}

.right_page .form_holder form .username_input input[type="text"] {
  outline: none;
  font-size: 17px;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.479);
  border-radius: 6px;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.75rem;
}

.right_page .form_holder form .username_input input[type="text"]:focus {
  border: 1px solid var(--facebook_color);
  outline: none;
  -webkit-box-shadow: 0 0 3px #9ecaed;
          box-shadow: 0 0 3px #9ecaed;
}

.right_page .form_holder form .username_input .error_flag {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.right_page .form_holder form .error_message {
  display: none;
}

.right_page .form_holder form .error_message p {
  font-size: 12px;
  color: red;
}

.right_page .form_holder form .error_message p span {
  font-weight: 600;
  cursor: pointer;
}

.right_page .form_holder form input[type="password"], .right_page .form_holder form .submit input[type="submit"] {
  outline: none;
  font-size: 17px;
  border: none;
  border: 1px solid rgba(128, 128, 128, 0.411);
  border-radius: 6px;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.75rem;
}

.right_page .form_holder form input[type="password"]:focus, .right_page .form_holder form .submit input:focus[type="submit"] {
  border: 1px solid var(--facebook_color);
  outline: none;
  -webkit-box-shadow: 0 0 3px #9ecaed;
          box-shadow: 0 0 3px #9ecaed;
}

.right_page .form_holder form .submit {
  width: 100%;
  text-align: center;
}

.right_page .form_holder form .submit input[type="submit"] {
  width: 96%;
  border: none;
  background-color: var(--facebook_color);
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.right_page .form_holder form .submit input[type="submit"]:hover {
  background-color: #166fe5;
}

.right_page .form_holder .forget_holder {
  text-align: center;
}

.right_page .form_holder .forget_holder a {
  text-decoration: none;
  color: var(--facebook_color);
  font-size: 14px;
}

.right_page .form_holder .forget_holder a:hover {
  text-decoration: underline;
}

.right_page .form_holder .line_breaker {
  width: 90%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.507);
  margin: 1.5rem auto;
}

.right_page .form_holder .create {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  text-align: center;
  background-color: #42b72a;
  font-weight: bold;
  color: white;
}

.right_page .form_holder .create:hover {
  background-color: #36a420;
  cursor: pointer;
}

.right_page .form_holder .create p {
  font-size: 17px;
  padding: 0.75rem;
  color: white;
}

.dc {
  display: inline !important;
}

.hold_scroll {
  overflow: hidden;
  height: 100%;
}

.f_languages {
  margin: 1rem auto 0 auto;
  width: 80%;
}

.f_languages .f_bat,
.f_languages .s_bat,
.f_languages .t_bat {
  display: inline;
}

.f_languages .links {
  margin: 0 0.5rem;
  font-size: 12px;
  color: gray;
  text-decoration: none;
}

.f_languages .links:hover {
  text-decoration: underline;
}

.f_languages::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: gray;
  margin: 1rem 0;
}

.f_menu {
  width: 80%;
  margin: 0 auto;
}

.f_menu .menu_l {
  font-size: 12px;
  text-decoration: none;
  color: gray;
  margin: 0 0.5rem;
}

.f_menu .menu_l:hover {
  text-decoration: underline;
}

.copyright {
  margin-top: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  color: gray;
}

@media screen and (max-width: 930px) {
  .login {
    min-height: 60vh !important;
    display: block;
  }
  .login .left_page h1 {
    margin: 0;
  }
  .login .left_page,
  .login .right_page {
    margin: 0 auto;
  }
  .login .left_page .form_holder,
  .login .right_page .form_holder {
    margin-top: 10%;
  }
  .login::before {
    background-color: white;
  }
}

@media screen and (max-width: 860px) {
  .login .right_page {
    width: 80%;
  }
  .login p {
    font-size: 12px;
  }
  .f_menu {
    display: none;
  }
  .f_languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .f_languages .f_bat .links,
  .f_languages .s_bat .links {
    display: block;
  }
  .f_languages .t_bat {
    display: none;
  }
  .f_languages::after {
    display: none;
  }
  .copyright {
    text-align: center;
  }
}

@media screen and (max-width: 530px) {
  .login .left_page h1 {
    margin-top: 2rem;
    font-size: 30px;
  }
  .login .left_page p {
    display: none;
  }
  .login .right_page {
    width: 100%;
  }
  .login .right_page .form_holder {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (max-width: 440px) {
  .login {
    width: 100%;
    height: 70vh !important;
  }
  .login .left_page {
    width: 100%;
  }
  .login .left_page h1 {
    font-size: 23px;
  }
  .login .right_page {
    margin-top: 10%;
  }
  .login .right_page .form_holder {
    width: 100%;
    margin: 0 auto;
  }
  .login .right_page .form_holder form #username,
  .login .right_page .form_holder form #password {
    margin: 0.3rem 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 340px) {
  .right_page .form_holder .forget_holder .a {
    margin-top: 0.75rem;
  }
  .right_page .form_holder .create {
    width: 50%;
  }
  .right_page .form_holder .create p {
    font-size: 12px;
  }
}

@media screen and (orientation: landscape) and (max-width: 930px) {
  .login {
    width: 100%;
  }
  .login .left_page h1 {
    margin-top: 1rem;
    font-size: 25px;
  }
  .login .left_page p {
    display: none;
  }
  .login .right_page {
    width: 100%;
  }
  .login .right_page .form_holder {
    margin: 1rem auto 0 auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .login .right_page .form_holder form {
    width: 100%;
  }
  .login .right_page .form_holder form #username,
  .login .right_page .form_holder form #password {
    margin: 0.2rem 0;
  }
  .login .right_page .form_holder form input[type="text"],
  .login .right_page .form_holder form input[type="password"],
  .login .right_page .form_holder form .submit input[type="submit"] {
    background-color: rgba(204, 199, 199, 0.295);
    font-size: 14px;
  }
  .login .right_page .form_holder form input[type="submit"] {
    background-color: var(--facebook_color) !important;
  }
  .login .right_page .form_holder .line_breaker {
    margin: 0.5rem 0;
  }
  .login .right_page .form_holder .a {
    font-size: 12px;
  }
  .login .right_page .form_holder .create {
    width: 45%;
  }
  .login .right_page .form_holder .create p {
    padding: 0.5rem 0;
    font-size: 14px;
  }
  .f_languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .f_languages .f_bat .links,
  .f_languages .s_bat .links {
    display: block;
  }
  .f_languages .t_bat {
    display: none;
  }
  .f_languages::after {
    display: none;
  }
  .menu_l {
    display: none;
  }
  .copyright {
    text-align: center;
  }
}
/*# sourceMappingURL=login.css.map */